# PRÁCTICA INDEPENDIENTE: SUBQUERY

In [ ]:
#pip install ipython-sql psycopg2
%load_ext sql

Verifique la IP del string de conexión

In [ ]:
#%sql postgresql://dhuser:dhpass@192.168.1.100/nw
%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind

Con la siguiente línea ejecutaremos un query SQL para verificar si la conexión funciona

In [ ]:
%%sql
SELECT 'Si' AS "Funciona?";

### Consigna 1: Extraigamos todas las órdenes de clientes de Francia.

In [ ]:
%%sql
SELECT "OrderID" FROM Orders
WHERE "CustomerID" IN
(SELECT "CustomerID"
 FROM Customers
 WHERE "Country" = 'France');

Query equivalente

In [ ]:
%%sql
SELECT "OrderID" FROM Orders
JOIN Customers ON Orders."CustomerID"=Customers."CustomerID"
WHERE Customers."Country" = 'France';

### Consigna 2: Vamos a mostrar los 5 productos más baratos cuyos precios sean mayores a la media e imprimiremos para ellos su categoría, nombre y precio.

In [ ]:
%%sql
SELECT "CategoryName","ProductName","UnitPrice"
FROM products AS p
JOIN categories AS c ON c."CategoryID" = p."CategoryID"
WHERE p."UnitPrice" > ( SELECT AVG("UnitPrice") FROM Products )
ORDER BY p."UnitPrice" ASC
LIMIT 5;

### Consigna 3: Dado que se prevee un gran incremento en los costos de transporte, se desea hacer un breve análisis de cuales son los países de los proveedores de las categorías mas importantes.

Para ello, se desea analizar solo en las 2 categorías de productos que está generando mayores ventas a la empresa (sin tener en cuenta los descuentos).

Y se desea visualizar agrupado por categoría y país del proveedor, la cantidad total de productos vendidos y porcentaje del total. El resultado debe estar ordenado primero por la categoría mas importante y luego por la importancia de los países en el aporte a esa categoría. (Únicamente para las 2 categorías mas relevantes)

Vamos a resolver el problema en pasos e ir utilizando las soluciones parciales como subquerys.  
En primer lugar obtener las 2 categorias con mayores ingresos, retornando el nombre, id de categoria, ingresos y cantidad de productos vendidos

In [ ]:
%%sql 
select c."CategoryName",c."CategoryID",SUM( (od."UnitPrice"*od."Quantity") ) as income, SUM(od."Quantity") as qt 
from Order_Details as od 
INNER JOIN Products as p ON(p."ProductID"=od."ProductID") 
INNER JOIN Categories as c ON(c."CategoryID"=p."CategoryID")
group by c."CategoryID" order by income DESC limit 2

Ahora que tenemos calculadas las categorías mas importantes, vamos a obtener el país del proveedor de cada producto de las categorías anteriores, y por cada producto obtendremos las ordenes y sobre las ordenes la cantidad de unidades involucradas.

En el resultado mostraremos el país, la categoría, la cantidad de unidades vendidas y la cantidad total de unidades vendidas en la categoría

El mostrar la cantidad total de unidades vendidas por la categoría nos va a ayudad luego a poder calcular el porcentaje
Por esta razón mostramos ese valor para no perderlo de vista.

Alguien puede contestar porque utilizamos un LEFT JOIN con Order_Details?

In [ ]:
%%sql
SELECT s."Country",sc."CategoryName", od."Quantity",sc."qt"
FROM Suppliers as s 
INNER JOIN Products as p ON(s."SupplierID"=p."SupplierID") 
INNER JOIN (
    select c."CategoryName",c."CategoryID",SUM( (od."UnitPrice"*od."Quantity") ) as income, SUM(od."Quantity") as qt 
    from Order_Details as od 
    INNER JOIN Products as p ON(p."ProductID"=od."ProductID") 
    INNER JOIN Categories as c ON(c."CategoryID"=p."CategoryID")
    group by c."CategoryID" order by income DESC limit 2
) as sc ON (sc."CategoryID"=p."CategoryID")
LEFT JOIN Order_Details as od ON (p."ProductID"=od."ProductID")

Con el resultado anterior tenemos todos los datos necesarios, solo resta poder agruparlos y hacer los cálculos.

El enunciado pide agrupar por Categoría y País. Por lo tanto en la tabla resultante se verá el producto de Categorías x Países.   
Para cada combinación de Categoría x País, se debe mostrar la cantidad de productos vendidos y el porcentaje con respecto a la categoría. Ordenando el resultado primero por la categoría mas importante, y luego por país según su aporte.

In [ ]:
%%sql
SELECT sc."CategoryName",s."Country", SUM(od."Quantity") as "Count", 100.0*SUM(od."Quantity")/MAX(sc."qt") as "Percent"
FROM Suppliers as s 
INNER JOIN Products as p ON(s."SupplierID"=p."SupplierID") 
INNER JOIN (
    select c."CategoryName",c."CategoryID",SUM( (od."UnitPrice"*od."Quantity") ) as income, SUM(od."Quantity") as qt 
    from Order_Details as od 
    INNER JOIN Products as p ON(p."ProductID"=od."ProductID") 
    INNER JOIN Categories as c ON(c."CategoryID"=p."CategoryID")
    group by c."CategoryID" order by income DESC limit 2
) as sc ON (sc."CategoryID"=p."CategoryID")
LEFT JOIN Order_Details as od ON (p."ProductID"=od."ProductID")
GROUP BY s."Country",sc."CategoryName" ORDER BY MAX(sc."income") DESC,"Count" DESC

### Consigna 4: Se sospecha que algunos vendedores están haciendo negocios poco honestos.
Se cree que están ofreciendo descuentos extraordinarios a algunos de sus clientes para obtener beneficios personales.
    
Buscar ordenes que tengan descuentos totales superiores a la media + 2 desvíos
Y mostrar cuales clientes hay sido beneficiados mas veces por estos descuentos extraordinarios.

En primer lugar se calcula para cada linea de la orden el precio sin descuento y con descuento.   
Para luego poder sumarizar para la orden completa y calcular el descuento total de la orden

In [ ]:
%%sql
SELECT "OrderID" , 
    ("UnitPrice" * "Quantity") as wod,
    ("UnitPrice" * "Quantity" * (1.0 - "Discount") )  as wd, "Discount"
FROM Order_Details

Ahora se calcula el descuento total para la orden

In [ ]:
%%sql
SELECT od."OrderID",((od.wod-od.wd)/od.wod) as totdiscount FROM (
    SELECT "OrderID" , 
        SUM( ("UnitPrice" * "Quantity") ) as wod,
        SUM( ("UnitPrice" * "Quantity" * (1.0 - "Discount") ) ) as wd
    FROM Order_Details GROUP BY "OrderID"
) as od

Teniendo el descuento total para las ordenes, se puede calcular la media y sumarle 2 desvíos para tener la cota que define las ordenes que habrá que investigar.

In [ ]:
%%sql
SELECT AVG(totdiscount)+2*STDDEV(totdiscount) as totdiscavg FROM (
    SELECT od."OrderID",((od.wod-od.wd)/od.wod) as totdiscount FROM (
        SELECT "OrderID" , 
            SUM( ("UnitPrice" * "Quantity") ) as wod,
            SUM( ("UnitPrice" * "Quantity" * (1.0 - "Discount") ) ) as wd
        FROM Order_Details GROUP BY "OrderID"
        ) as od
    ) as o

Ahora se filtran todas las ordenes que tengan un descuento total > a la media + 2 desvíos

In [ ]:
%%sql
SELECT o."OrderID",o.totdiscount FROM (
    SELECT od."OrderID",((od.wod-od.wd)/od.wod) as totdiscount FROM (
        SELECT "OrderID" , 
            SUM( ("UnitPrice" * "Quantity") ) as wod,
            SUM( ("UnitPrice" * "Quantity" * (1.0 - "Discount") ) ) as wd
        FROM Order_Details GROUP BY "OrderID"
    ) as od
) as o
WHERE o.totdiscount > (SELECT AVG(totdiscount)+2*STDDEV(totdiscount) as totdiscavg FROM (
    SELECT od."OrderID",((od.wod-od.wd)/od.wod) as totdiscount FROM (
        SELECT "OrderID" , 
            SUM( ("UnitPrice" * "Quantity") ) as wod,
            SUM( ("UnitPrice" * "Quantity" * (1.0 - "Discount") ) ) as wd
        FROM Order_Details GROUP BY "OrderID"
        ) as od
    ) as o )

Por último se determina cuales son los clientes de estas ordenes sospechosas y se cuenta cuales fueron mas beneficiados.

In [ ]:
%%sql
SELECT r."CustomerID",count(*) as CNT FROM (
    SELECT o."OrderID",o.totdiscount FROM (
        SELECT od."OrderID",((od.wod-od.wd)/od.wod) as totdiscount FROM (
            SELECT "OrderID" , 
                SUM( ("UnitPrice" * "Quantity") ) as wod,
                SUM( ("UnitPrice" * "Quantity" * (1.0 - "Discount") ) ) as wd
            FROM Order_Details GROUP BY "OrderID"
        ) as od
    ) as o
    WHERE o.totdiscount > (SELECT AVG(totdiscount)+2*STDDEV(totdiscount) as totdiscavg FROM (
        SELECT od."OrderID",((od.wod-od.wd)/od.wod) as totdiscount FROM (
            SELECT "OrderID" , 
                SUM( ("UnitPrice" * "Quantity") ) as wod,
                SUM( ("UnitPrice" * "Quantity" * (1.0 - "Discount") ) ) as wd
            FROM Order_Details GROUP BY "OrderID"
            ) as od
        ) as o
    )
) as ti INNER JOIN Orders as r ON (ti."OrderID"=r."OrderID")
GROUP BY r."CustomerID" ORDER BY CNT DESC