## Laboratorio Arreglos y Matrices


Ejecuta la celda de abajo para cargar los paquetes requeridos

In [1]:
import numpy as np
import pandas as pd

### Datos de ventas

Para este lab vamos a estar usando una versión de datos de ventas de vinos en diferentes sucursales (archivo ```volumen_ventas_producto_sucursal.csv```) y el precio de cada vino (```precio_producto.csv```)

#### Importar Ventas

In [2]:
sales = pd.read_csv('volumen_ventas_producto_sucursal.csv')
sales.head(10)

,producto,Sucursal 1,Sucursal 2,Sucursal 3,Sucursal 4,Sucursal 5,Sucursal 6,Sucursal 7
0,Malbec,429,106,437,177,200,412,309
1,Cabernet,244,111,282,238,144,198,331
2,Syrah,374,278,241,408,177,381,237
3,Caberne Franc,449,291,461,484,452,388,466
4,Merlot,222,494,436,252,161,187,337
5,Pinot noir,335,137,233,487,394,488,331

#### Importar precios

In [3]:
precios = pd.read_csv('precio_producto.csv')
precios.head()

        producto  Precio
0         Malbec     208
1       Cabernet     216
2          Syrah     247
3  Caberne Franc     180
4         Merlot     180

#### 1. Calcular la cantidad de unidades vendidas para cada sucursal

Utilizar la matriz_ventas y funciones de numpy
Primero transformar el dataframe de pandas en un array con las funciones iloc y values

In [4]:
ventas_np = sales.iloc[:,1:].values

In [5]:
#acá código
ventas_por_sucursal = ventas_np.sum(axis=0)
ventas_por_sucursal

array([2053, 1417, 2090, 2046, 1528, 2054, 2011], dtype=int64)

#### 2. Calcular la cantidad de unidades vendidas para cada producto

Utilizar la matriz_ventas y funciones de numpy

In [6]:
#acá código
ventas_por_producto = ventas_np.sum(axis=1)
ventas_por_producto

array([2070, 1548, 2096, 2991, 2089, 2405], dtype=int64)

#### 3. Calcular cuál es el producto que más vendió cada sucursal

In [7]:
print(ventas_np.shape)
ventas_np

(6, 7)

array([[429, 106, 437, 177, 200, 412, 309],
       [244, 111, 282, 238, 144, 198, 331],
       [374, 278, 241, 408, 177, 381, 237],
       [449, 291, 461, 484, 452, 388, 466],
       [222, 494, 436, 252, 161, 187, 337],
       [335, 137, 233, 487, 394, 488, 331]], dtype=int64)

In [8]:
np.argmax(ventas_np, axis=0)

array([3, 4, 3, 5, 3, 5, 3], dtype=int64)

In [9]:
#acá código
max_ventas = np.argmax(ventas_np, axis=0)
vinos = np.array(['M', 'C', 'S', 'CF','M','PN'])
print ("Vinos más vendidos:")
vinos[max_ventas ]

# Combino los dos vectores en un arary de una dimensión más.
print (np.array([vinos,vinos[max_ventas ]]))

Vinos más vendidos:
[array(['M', 'C', 'S', 'CF', 'M', 'PN'],
      dtype='<U2')
 array(['CF', 'M', 'CF', 'PN', 'CF', 'PN', 'CF'],
      dtype='<U2')]

#### 4. Calcular cuál es la sucursal que más vendió cada producto

In [10]:
#acá código
max_ventas = np.argmax(ventas_np, axis=1)
sucursales = np.array(['S1', 'S2', 'S3', 'S4','S5','S6','S7'])
print ("Sucursal que más vendió:")
sucursales[max_ventas ]

# Combino los dos vectores en un arary de una dimensión más.
print (np.array([vinos,sucursales[max_ventas ]]))

Sucursal que más vendió:
[['M' 'C' 'S' 'CF' 'M' 'PN']
 ['S3' 'S7' 'S4' 'S4' 'S2' 'S6']]

#### 5. Calcular la facturación para cada sucursal

Puedes utilizar una multiplicación vectorizada para calcular la facturación para cada sucursal (es decir la sumatoria de la facturación de cada producto vendido (precio de cada vino  * cantidad vendida).

In [44]:
ventas_np, ventas_np.shape

(array([[429, 106, 437, 177, 200, 412, 309],
        [244, 111, 282, 238, 144, 198, 331],
        [374, 278, 241, 408, 177, 381, 237],
        [449, 291, 461, 484, 452, 388, 466],
        [222, 494, 436, 252, 161, 187, 337],
        [335, 137, 233, 487, 394, 488, 331]], dtype=int64), (6, 7))

In [45]:
#código acá
preciosv = np.matrix(precios.iloc[:,1])
print(precios.iloc[:,1].shape)
print(preciosv.shape)

(6,)
(1, 6)

* ¿Qué observas sobre la transformación de los datos originales y la función *np.matrix()*?

Como ambos arrays o matrices tienen una conformación de 6 elementos y esta dimensión coincide, es posible multiplicarlos directamente como si fuese una operación escalar. El resultado será la suma de los productos (precios * cantidad).

In [46]:
totalxSuc = preciosv * ventas_np
totalxSuc

matrix([[436499, 289281, 429414, 439821, 322505, 444655, 419280]], dtype=int64)